/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework
/storage/logs
/storage/app/public
/storage/app/geoip.mmdb
/tests
/database/migrations
/bootstrap/cache/*.php
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
