/node_modules
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views/*.php
/storage/logs
/storage/app/public
/storage/app/geoip.mmdb
/tests
/database/migrations
/bootstrap/cache/*.php
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
