/node_modules
/storage/*.key
/storage/framework/views/*.php
/database/migrations/*.php
/storage/app/purifier/HTML/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
